{% extends 'index.html'%} {% import 'bootstrap/wtf.html' as wtf %} {% block title%} Administration {% endblock%} {% block head %} {{super()}} {% endblock %} {% block content%}
<style type="text/css">
    .container {
        background-color: transparent;
        box-shadow: none;
    }
    
    .cheese {
        background-image: none;
    }
</style>
<div class="col-md-2 sidebar">
    <div class="row">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <div class="absolute-wrapper"> </div>
        <!-- Menu -->
        <div class="side-menu">
            <nav class="navbar navbar-default margin-0" role="navigation">
                <!-- Main Menu -->
                <div class="side-menu-container">
                    <ul class="nav navbar-nav">
                        <li class="active"><a data-toggle="tab" href="#newArticle"><span class="glyphicon glyphicon-pencil"></span> New Article</a></li>
                        <li><a data-toggle="tab" href="#updateArticle"><span class="glyphicon glyphicon-wrench"></span> Update Article</a></li>
                        <li><a data-toggle="tab" href="#deleteArticle"><span class="glyphicon glyphicon-remove"></span> Delete Article</a></li>
                        <li><a data-toggle="tab" href="#profileImage"><span class="glyphicon glyphicon-user"></span> Profile Image</a></li>
                        <li><a href="/dashboard/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

        </div>
    </div>
</div>
<div class="col-md-10 content tab-content">
    <div id="newArticle" class="tab-pane panel panel-default fade in active">
        <div class="panel-heading">
            Dashboard - New Article
        </div>
        <div class="panel-body">
            {{ wtf.quick_form(items.form) }} {% if title %}
            <p> Your name is: {{ title }}</p>
            <p>and your comments are: {{ content }}</p>
            <p>A big thank you!</p>
            {% endif %}
        </div>
    </div>
    <div id="updateArticle" class="tab-pane panel panel-default fade">
        <div class="panel-heading">
            Dashboard - Update Article
        </div>
        <div class="panel-body">
            {% for entry in items.entries %}
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object thumbnail article-profile" src="{{ url_for('static',filename='upload_folder/profileImage.jpg') }}">
                    </a>
                    <div class="media-body">
                        <a class="pull-right" href="dashboard/update/{{entry.id}}"><button class="btn btn-xs btn-primary">Update</button></a>
                        <h4 class="media-heading">{{entry.title}}</h4>
                        <p class="text-right">By Karlis Filipsons</p>
                        <p>{{entry.content}}</p>
                        <ul class="list-inline list-unstyled pull-right">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> {{entry.articleDate}} </span></li>
                            <li>
                                <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                <span><i class="fa fa-facebook-square"></i></span>
                                <span><i class="fa fa-twitter-square"></i></span>
                                <span><i class="fa fa-google-plus-square"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="deleteArticle" class="tab-pane panel panel-default fade">
        <div class="panel-heading">
            Dashboard - Delete Article
        </div>
        <div class="panel-body">
            {% for entry in items.entries %}
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object thumbnail article-profile" src="{{ url_for('static',filename='upload_folder/profileImage.jpg') }}">
                    </a>
                    <div class="media-body">
                        <a onclick="removeById({{entry.id}})" href="#"><i class="glyphicon glyphicon-remove pull-right"></i></a>
                        <h4 class="media-heading">{{entry.title}}</h4>
                        <p class="text-right">By Karlis Filipsons</p>
                        <p>{{entry.content}}</p>
                        <ul class="list-inline list-unstyled pull-right">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> {{entry.articleDate}} </span></li>
                            <li>
                                <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                <span><i class="fa fa-facebook-square"></i></span>
                                <span><i class="fa fa-twitter-square"></i></span>
                                <span><i class="fa fa-google-plus-square"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="profileImage" class="tab-pane panel panel-default fade">
        <div class="panel-heading">
            Dashboard - Profile Image
        </div>
        <div class="panel-body">
            <h4>Current profile image</h4>
            <img class="media-object thumbnail article-profile" src="{{ url_for('static',filename='upload_folder/profileImage.jpg') }}">
            <h4>Select new profile image</h4>
                <form action="dashboard/profileimage" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
        </div>
    </div>
</div>

{% endblock %}