{% extends 'index.html'%} {% block title%} Administration {% endblock%} {% block head %} {{super()}}
<style type="text/css">
    h1 {
        color: #336699;
    }
</style>
{% endblock %} {% block content%}
<div class="col-md-2 sidebar">
    <div class="row">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <div class="absolute-wrapper"> </div>
        <!-- Menu -->
        <div class="side-menu">
            <nav class="navbar navbar-default margin-0" role="navigation">
                <!-- Main Menu -->
                <div class="side-menu-container">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-pencil"></span> New Article</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Update Article</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Delete Article</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile Image</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

        </div>
    </div>
</div>
<div class="col-md-10 content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Dashboard</b>
        </div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea class="form-control" rows="5" id="content"></textarea>
                </div>
                <button type="submit" class="btn btn-block btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}